# compiled output
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea
.vscode
.project
.classpath
*.launch
.settings/

.git/
.gitignore

*.md